<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Filmes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="atores">
    <ion-item-sliding *ngFor="let ator of atores">
      <ion-item lines="full">

          <ion-thumbnail slot="start">
            <img *ngIf="ator.foto" src="{{ator.foto}}" />
            <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
          </ion-thumbnail>
  
          <ion-label class="ion-text-wrap">
            <a>
              <h1>{{ator.nome}}</h1>
              <p>birthday: {{ator.nascimento}}</p>
              <ion-badge
                class="badge-margin"
                color="medium"
                *ngFor="let obra of ator.obras"
              >
                {{obra}}
              </ion-badge>

              <p>Birth City: {{ ator.cidade }}</p>

            </a>
          </ion-label>
  
          <!--<ion-chip
            [color]="filme.classificacao < 5 ? 'danger' : ((filme.classificacao < 7 ? 'warning' : 'success'))"
            outline
          >
            <ion-label>{{filme.classificacao}}</ion-label>
          </ion-chip>-->

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
