<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ator?.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="ator">
    <ion-card-header>
      <img *ngIf="ator.foto" src="{{ator.foto}}" />
      <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-icon [color]="ator.favorito? 'warning': 'primary'" slot="icon-only" name="star" (click)="exibirAlertaFavorito(ator)"></ion-icon> 
      </p>
  
      <p>
        {{ ator.biografia }}
      </p>
    </ion-card-content>
    <ion-item>
      <ion-badge color="medium" *ngFor="let genero of ator.obras">{{genero}}</ion-badge>
      
    </ion-item>
  </ion-card>
</ion-content>